---
---

@import "{{ site.theme }}";

.default {
    color: #fffce2;
    background-color: #162633;
    text-shadow: -1px 2px 10px black;
    text-align: justify;
}

.gradient-background {
    color: #fffce2;
    background: linear-gradient(32deg, #162633 45%, #781d03 70%, #ffc300 100%);
    text-shadow: -1px 2px 10px black;
    text-align: justify;
}

.gradient-background a {
    color: #ffc300;
}

.gradient-background a:hover {
    text-shadow: 0px 0px 15px #ffc300;
    text-decoration: none;
}

.gradient-background img {
    background: transparent !important;
}