---
---

@import "{{ site.theme }}";

/************ colors ************/

.default {
    color: #fffce2;
    background-color: #162633;
    text-shadow: -1px 2px 10px black;
    text-align: justify;
}

.gradient-background {
    color: #fffce2;
    background: linear-gradient(32deg, #162633 45%, #781d03 70%, #ffc300 100%);
    text-shadow: -1px 2px 10px black;
    text-align: justify;
}

.gradient-background img {
    background: transparent !important;
}

a {
    color: #ffc300;
}

a:hover {
    text-shadow: 0px 0px 15px #ffc300;
    text-decoration: none;
}

.markdown-body hr {
    height: 1px;
}

/************ mobile-aware side by side management ************/

.app-intro-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.app-logo {
    max-width: 250px;
    margin-right: 20px;
}

.app-details-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.app-screenshot {
    max-width: 300px;
    margin-left: 70px;
}

@media (max-width: 768px) {
    .app-logo {
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .app-screenshot {
        margin-left: 0;
        margin-bottom: 20px;
    }
}
