---
---

@import "{{ site.theme }}";

/************ colors ************/

.default {
    color: #fffce2;
    background-color: #162633;
    text-shadow: -1px 2px 10px black;
    text-align: justify;
}

.gradient-background {
    color: #fffce2;
    background: linear-gradient(32deg, #162633 45%, #781d03 70%, #ffc300 100%);
    text-shadow: -1px 2px 10px black;
    text-align: justify;
}

.gradient-background img {
    background: transparent !important;
}

a {
    color: #ffc300;
}

a:hover {
    text-shadow: 0px 0px 15px #ffc300;
    text-decoration: none;
}

.markdown-body hr {
    height: 1px;
}

/************ mobile-aware side by side management ************/

.app-intro {
    width: 70%;
}

.app-logo {
    min-width: 200px;
    width: 28%;
    margin-right: 2%;
}

.side-by-side {
    display: flex;
    align-items: center;
}

.side-by-side-reverse {
    display: flex;
    align-items: center;
}

.app-screenshot-description {
    width: 65%;
}

.app-screenshot-right {
    min-width: 250px;
    width: 32%;
    margin-left: 3%;
}

.app-screenshot-left {
    min-width: 250px;
    width: 32%;
    margin-right: 3%;
}

.mobile-hidden {
    display: block;
}

@media (max-width: 768px) {
    .app-intro {
        width: 100%;
    }

    .app-logo {
        width: 80%;
        margin-right: 0;
    }

    .side-by-side {
        flex-direction: column;
    }

    .side-by-side-reverse {
        flex-direction: column-reverse;
    }

    .app-screenshot-description {
        width: 100%;
    }
    
    .app-screenshot-right {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .app-screenshot-left {
        width: 100%;
        margin-right: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .mobile-hidden {
        display: none;
    }
}
